*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
header{
  background-color: rgb(195, 247, 235);
  background-position: left;
  background-size: cover;
background-image: url(https://images.pexels.com/photos/346885/pexels-photo-346885.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
background-position: 50% 50%;
width: 100%;
height: 18.75rem;
justify-content: space-between;
align-items: center;
  }
   .sectionPrincipal{
    display: flex;
    gap: 1.25rem;
    padding-right: 1.25rem;
    list-style: none;
    background-color: rgb(255, 255, 255);
   height: auto;
justify-content: center;
align-items: center;
  }
    
 .sectionPrincipal h1{ 
  text-align: center;
  background-position: left;
    text-decoration-line: unset;
   margin: 20px 0px;
 }
 .sectionPrincipal h2{ 
  text-align: center;
  text-decoration-line: unset;
   margin: 20px 0px;
 }
body{
  background-color: rgb(255, 255, 255);
}
header{
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 100%;
    text-align: right;
    padding: 10px 20px;
    align-items:center;
  
   
    }
   
    
     nav ul li{
        list-style-type: nine;
        display: inline-block;
        margin: 0 10px;
     
      }
      a{
        text-decoration: double;
        text-transform: initial;
        font-weight:lighter;
        color: rgb(0, 0, 0);
        justify-content: space-between;
        align-items: center;
      
       }
       .navBar{
        display: flex;
        list-style: none;
        gap:20px;
       }
       .navBar li a:hover{
        background-color: rgb(176, 166, 182);
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size:1.25rem;

       }
       main{
        margin:0px;
        padding:0px;
        }
  
         footer{
            margin: 20px;
            padding: 20px;
            border-top: 1px solid black;
            text-align: center
          }
          .descubri-destinos{
          
            margin:auto;
          color: rgb(0, 0, 0);
             font-size:medium;
             font-weight: bolder;
             text-transform:uppercase;
             text-align: center;
              width: 400px;
              height: 80%;
              border: 1px solid black;
            position:sticky;
            top:0px;
            margin: 20px;
       
            overflow: hidden;
            box-shadow: 2px 2px 5px rgb(0, 0, 0);
            text-align: center;
            font-size: medium;
            box-shadow: 2px 2px 5px rgb(124, 124, 124)
           
          }

            .descubri-destinos div img:hover{
              width: 100%;
              height: 100%;
              object-fit: cover;
              
            }
            
            .descubri-destinos div {
              width: 100%;
              height: 75%;
            
            }
            
             
          
      
           form{
            margin: auto;
            margin-top: 20px;
            }
            label{
                display:flow-root;
                font-weight: bolder;
                font-size: medium;
                color: black;
             }
             input
             {
                display: block;
                width: 40%;
                font-size: .875rem
            
                
              }
              .enviarFormulario{
                background-color: bisque;
                color: rgb(16, 76, 87);
                border: none;
                font-size: 1rem;
             }
             .conoceCulturas {
              margin: auto;
              display: flexbox;
              color: rgb(0, 0, 0);
              font-size: medium;
              font-weight: bolder;
              text-transform: uppercase;
              text-align: center;
              width: 300px;
              height: auto;
          }
          
              .encantado_blog{
                margin:auto;
                color: rgb(0, 0, 0);
                   font-size:medium;
                   font-weight: bolder;
                   text-transform: none;
                   text-align: center;
                    width: 400px;
                    height: auto;
              }
              .encantado_blog img{
                display:flex;
                justify-content: center; 
                align-items: center;
                width: 300px;
                height: 100%;
                position:relative;
                top: 0;
                border-radius: 10%;
                overflow: hidden;
                text-align:right;
                font-size: medium;
              }
              
               .helsinki__viajes button{
background-color: rgb(157, 184, 202);
color: rgb(0, 0, 0);
padding: 20px 10px 20px 10px;
border: 2px solid rgb(74, 114, 119);
  border-style: dashed; 
  border-width: 2px;   
  border-color: rgb(74, 114, 119);  
  margin: 20px;
}
.card {
  width: 21.875rem;
  height: 25rem;
  margin: 20px;
  border-radius: 10%;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgb(121, 109, 109);
  text-align: center;
  font-size: medium;
}

.card div {
  width: 100%;
  height: 18.75rem;
  object-fit: cover;
}

.card div img {
  width: 100%;
  height: 100%;
  
}
.cardContainer{
  display: flex;
  width: 100%;
  flex-direction:row;
justify-content: space-evenly;
height: 31.25rem;
align-items:center;

}
.avion{
  position: fixed;
  bottom: 20px;
  right: 20px;
}
grid-container{
  display: grid;
  width: 100%;
  grid-template-columns: 25%;

}
.item1{
  background-color: rgb(173, 211, 209);
}

               
          