* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sectionPrincipal, header {
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 18.75rem;
  border-bottom: 1px solid rgb(0, 0, 0);
  text-align: right;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background-image: url("https://images.pexels.com/photos/346885/pexels-photo-346885.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.sectionPrincipal, header {
  gap: 1.25rem;
  padding-right: 1.25rem;
  list-style: none;
  height: auto;
  justify-content: center;
  align-items: center;
}
.sectionPrincipal h1, header h1,
.sectionPrincipal h2,
header h2 {
  text-align: center;
  text-decoration-line: unset;
  margin: 20px 0px;
}
.sectionPrincipal h2, header h2 {
  background-position: left;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 10px;
  font-size: large;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgb(247, 231, 212);
  padding: 10px;
  border-radius: 25px;
}
nav ul li:hover {
  color: rgb(146, 146, 146);
}

.card {
  width: 21.875rem;
  height: 25rem;
  margin: 20px;
  border-radius: 10%;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgb(114, 106, 106);
  text-align: center;
  font-size: medium;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #d3d3d3;
  color: #000000;
}
.card:hover {
  box-shadow: 2px x 10px rgb(0, 0, 0);
}
.card div {
  width: 100%;
  height: 18.75rem;
  object-fit: cover;
}
.card div img {
  width: 100%;
  height: 100%;
}

.cardContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  height: 31.25rem;
  align-items: center;
}

/* Mediaqueries */
@media screen and (max-width: 768px) {
  .sectionPrincipal, header {
    height: 15rem;
    padding: 10px 15px;
    font-size: 14px;
  }
  .cardContainer {
    flex-direction: column;
    height: auto;
  }
}
@media screen and (max-width: 425px) {
  .sectionPrincipal, header {
    height: 12rem;
    padding: 5px 10px;
    font-size: 12px;
  }
  .card {
    width: 90%;
    height: 20rem;
    margin: 10px;
    font-size: small;
  }
}
@media screen and (max-width: 320px) {
  .sectionPrincipal, header {
    height: 10rem;
    padding: 5px;
    font-size: 10px;
  }
  .card {
    width: 95%;
    height: 18rem;
    margin: 5px;
    font-size: x-small;
  }
}
p {
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background-color: rgb(218, 218, 213);
  animation-name: fondo-principal;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-duration: 6s;
}

@keyframes fondo-principal {
  0% {
    background-color: azure;
  }
  10% {
    background-color: rgb(232, 225, 225);
  }
  25% {
    background-color: rgb(181, 188, 188);
  }
  50% {
    background-color: rgb(134, 134, 134);
  }
}
.descubri-destinos {
  margin: 0 auto;
  margin-top: 50px;
  color: black;
  font-weight: lighter;
  text-transform: none;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.5;
  flex-direction: column;
  position: sticky;
  max-width: 900px;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgb(0, 0, 0), 2px 2px 5px rgb(124, 124, 124);
  text-align: center;
}

.descubri-destinos div img {
  width: 30%;
  height: 40%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.descubri-destinos div img:hover {
  transform: scale(1.5);
}

.descubri-destinos div {
  width: 100%;
  height: 75%;
}

@media screen and (min-width: 768px) {
  .descubri-destinos div img {
    width: 30%;
    height: 40%;
  }
  .descubri-destinos div {
    height: 75%;
  }
}
@media screen and (max-width: 768px) {
  .descubri-destinos div img {
    width: 40%;
    height: 50%;
  }
  .descubri-destinos div {
    height: 60%;
  }
}
@media screen and (max-width: 425px) {
  .descubri-destinos div img {
    width: 50%;
    height: 60%;
  }
  .descubri-destinos div {
    height: 50%;
  }
}
form {
  margin: auto;
  margin-top: 20px;
}

label {
  display: flow-root;
  font-weight: bolder;
  font-size: medium;
  color: black;
}

input {
  display: block;
  width: 40%;
  font-size: 0.875rem;
}

.enviarFormulario {
  background-color: bisque;
  color: rgb(16, 76, 87);
  border: none;
  font-size: 1rem;
  animation-name: cambiaColorFondo;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes cambiaColorFondo {
  0% {
    background-color: rgb(215, 191, 165);
  }
}
@keyframes changeColor {
  0% {
    background-color: rgb(157, 184, 202);
    color: rgb(0, 0, 0);
  }
  100% {
    background-color: rgb(55, 83, 87);
    color: white;
  }
}
button {
  background-color: rgb(157, 184, 202);
  color: rgb(0, 0, 0);
  padding: 20px 10px;
  border: 2px dashed rgb(74, 114, 119);
  margin: 20px;
  transition: background-color 0.3s, color 0.3s;
}
button:hover {
  animation: changeColor 1s forwards;
}

.avion {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: 25%;
}

.item1 {
  background-color: azure;
}

.encantado_blog_img {
  width: 400px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border: 2px solid gray;
  border-radius: 5px;
  transform: skew(-10deg);
}

.encantado_blog_div {
  width: 100%;
}

p {
  padding: 50px 0 50px 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 50%;
  margin: 0 auto;
  line-height: 40px;
}

h1 {
  text-align: center;
  margin-top: 50px;
  border-bottom: 1;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .encantado_blog_img {
    width: 600px;
  }
  .encantado_blog_div p {
    width: 80%;
  }
}
@media screen and (min-width: 425px) and (max-width: 767px) {
  .encantado_blog_img {
    width: 400px;
    height: 400px;
  }
  .encantado_blog_div p {
    width: 90%;
    font-size: larger;
    line-height: 30px;
  }
}
@media screen and (max-width: 424px) {
  .encantado_blog_img {
    width: 400px;
    height: 400px;
  }
  .encantado_blog_div p {
    width: 90%;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
  }
  nav ul li {
    display: flex;
    margin: 3px;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: small;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
}
.quienes_somos {
  text-align: center;
}
.quienes_somos h1 {
  margin: 50px;
  border-bottom: 2px solid white;
}
.quienes_somos h2 {
  font-size: 40px;
  margin-bottom: 25px;
}
.quienes_somos h3 {
  font-size: 18px;
  font-family: initial;
  margin: 50px;
}
.quienes_somos p {
  line-height: 35px;
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .quienes_somos p {
    width: 70%;
    margin: 0 auto;
    font-size: larger;
  }
}
.quienes_somos iframe {
  width: 90%;
}
@media screen and (min-width: 425px) and (max-width: 767px), (max-width: 424px) {
  .quienes_somos nav {
    display: flex;
    justify-content: center;
  }
}

.Contacto_div {
  text-align: center;
}

.Contacto_form input {
  margin: 0 auto;
  margin-top: 1%;
  padding: 10px 10px;
  border-radius: 10px;
}

.Contacto_form label {
  margin: 0 auto;
  margin-top: 1%;
}

.H1_contacto {
  text-align: center;
  margin-top: 2%;
}

.Contacto_article {
  margin: 0 auto;
}

.Contacto_article img {
  width: 300px;
  margin-top: 2%;
  transition: transform 0.5s ease-in-out;
}

.Contacto_article img:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
}
li:hover {
  transform: scale(1.2);
}

a {
  text-decoration: double;
  text-transform: initial;
  font-weight: lighter;
  color: black;
  justify-content: space-between;
  align-items: center;
}

footer {
  margin: 20px;
  padding: 20px;
  border-top: 1px solid black;
  text-align: center;
}

main {
  margin: 0px;
  padding: 0px;
}

@keyframes changeColor {
  0% {
    background-color: rgb(157, 184, 202);
    color: rgb(0, 0, 0);
  }
  100% {
    background-color: rgb(55, 83, 87);
    color: white;
  }
}
button {
  background-color: rgb(157, 184, 202);
  color: rgb(0, 0, 0);
  padding: 20px 10px;
  border: 2px dashed rgb(74, 114, 119);
  margin: 20px;
  transition: background-color 0.3s, color 0.3s;
}
button:hover {
  animation: changeColor 1s forwards;
}

.notFound {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.error-container {
  text-align: center;
  font-size: 106px;
  font-family: "Catamaran", sans-serif;
  font-weight: 800;
  margin: 70px 15px;
}

/*# sourceMappingURL=style.css.map */
