.encantado_blog_img {
    width: 400px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: 2px solid gray;
    border-radius: 5px;
}

.encantado_blog_div {
    width: 100%;
}

p {
    padding: 50px 0 50px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 50%;
    margin: 0 auto;
    line-height: 40px;
}

h1 {
    text-align: center;
    margin-top: 50px;
    border-bottom: 1
}