
$color_1: rgb(16, 76, 87);
$color_2: rgb(0, 0, 0);
$background-color_1: bisque;


.enviarFormulario {
  background-color: $background-color_1;
  color: $color_1;
  border: none;
  font-size: 1rem;
  animation-name: cambiaColorFondo;
  animation-duration: 2s; 
  animation-timing-function: ease; 
  animation-iteration-count: infinite; 
}

@keyframes cambiaColorFondo {
  0% {
 background-color: rgb(215, 191, 165);
  }
}