form {
  margin: auto;
  margin-top: 20px;
}


label {
  display: flow-root;
  font-weight: bolder;
  font-size: medium;
  color:black;
}

input {
  display: block;
  width: 40%;
  font-size: 0.875rem;
}

